.login-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

.login-container {
  position: relative;
  z-index: 1;
}


.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #8e2de2, #4a00e0);
   */
  font-family: "Poppins", sans-serif;
 
}

/* .login-container {

  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 380px;
  text-align: center;
} */

.login-container {
  background: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 40px 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);

  text-align: center;
}


.login-heading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  /* color: #4a00e0;
   */
   color: white;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input-field {
  width: 90%;
  max-width: 300px;
  padding: 14px 16px;
  margin-bottom: 18px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #f8f8f8;
  transition: 0.3s ease;
  text-align: left;
}

.login-input-field:focus {
  background: #fff;
  box-shadow: 0 0 0 2px rgba(74, 0, 224, 0.25);
}

.login-btn {
  width: 90%;
  max-width: 300px;
  padding: 14px 18px;
  background: #6a11cb;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #5011a5;
}

.login-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-signup-text {
  margin-top: 16px;
  font-size: 17px;
  font-weight: 700;
  color: white;
}

.login-signup-link {
  color: #6a11cb;
  font-weight: 600;
  text-decoration: none;
}

.login-signup-link:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {




  .login-wrapper {
overflow: hidden;
  }

  .login-container {
    width: 100%;
    max-width: 340px;
    padding: 26px 18px;
    border-radius: 14px;
    text-align: center;
    margin-bottom: 170px;
  }

  .login-heading {
    font-size: 22px;
    margin-bottom: 18px;
  }

  .login-form-box {
    align-items: center;
  }

.login-input-field {
  width: 100%;
  max-width: 100%;
  font-size: 16px; 
  padding: 14px 14px;
  margin-bottom: 14px;
  border-radius: 12px;
  box-sizing: border-box;
}

  .login-btn {
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    padding: 12px 14px;
  }

  .login-error {
    text-align: center;
    font-size: 13px;
  }

  .login-signup-text {
    font-size: 13px;
    margin-top: 14px;
    text-align: center;
  }
}
